---
layout: default
---

<h2 class="page-heading" style="text-align: center;">{{ page.name | escape }}</h2>

<p class="page-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
    </time>
</p>

{{ content }}


{% if page.hasquiz == true %}
    <div class="quiz-btn-container">
        <a href="/quiz{{ page.url | relative_url }}" class="quiz-btn">
            Quiz
        </a>
    </div>
{% endif %}
