---
layout: default
---

<h2 class="page-heading"> Vocabulary Lists </h2>

{{ content }}

<h3> Advanced Spanish Vocabulary </h3>

<ul>
    {%- for list in site.vocabulary -%}
        {%- if list.vocabulary == "advanced-spanish" -%}
        <li>
            <h3>
                <a href="{{ list.url | relative_url }}">
                    {{ list.name | escape }}
                </a>
            </h3>
        </li>
        {% endif %}
    {%- endfor -%}
</ul>

<h3> Advanced English Vocabulary </h3>

<ul>
    {%- for list in site.vocabulary -%}
    {%- if list.vocabulary == "advanced-english" -%}
    <li>
        <h3>
            <a href="{{ list.url | relative_url }}">
                {{ list.name | escape }}
            </a>
        </h3>
    </li>
    {% endif %}
    {%- endfor -%}
</ul>

<h3> Beginner-Intermediate French Vocabulary </h3>

<ul>
    {%- for list in site.vocabulary -%}
    {%- if list.vocabulary == "beginner-intermediate-french" -%}
    <li>
        <h3>
            <a href="{{ list.url | relative_url }}">
                {{ list.name | escape }}
            </a>
        </h3>
    </li>
    {% endif %}
    {%- endfor -%}
</ul>