<div class="question">
  <p class="question-title">
    {{ include.item.question }}
  </p>
  {% for choice in include.item.items %}
    {% if choice.correct == true %}
      <input type="radio" name="{{ include.item.question | slugify }}" id="radio-correct-{{ include.count }}">
      <label for="{{ include.item.question | slugify }}" id="correct-{{ include.count }}">
    {% else %}
      <input type="radio" name="{{ include.item.question | slugify }}">
      <label for="{{ include.item.question | slugify }}">
    {% endif %}
    {{ choice.choice }}
    </label><br>
  {% endfor %}
</div>

<button class="show-answer-btn" onclick="showAnswers('correct-{{ include.count }}')">
  Show Me
</button>

<script>
  function showAnswers(correctAnswerId) {
    document.getElementById(correctAnswerId).style.fontWeight = 600;
    if (! document.getElementById('radio-' + correctAnswerId).checked) {
      document.getElementById(correctAnswerId).style.backgroundColor = "red";
    } else {
      document.getElementById(correctAnswerId).style.backgroundColor = "#4CAF50";
    }
  }
</script>
